<!-- Two -->
<section class="wrapper style1 container special">
        <div class="row">
            <div class="4u 12u(narrower)">

                <section>
                    <header>
                        <h3>Indra Azis - Dosen musik, Founder VokalPlus, Pelatih vokal, Musisi</h3>
                    </header>
                    <p>&#34;PSM UI Paragita adalah paduan suara yang memiliki semangat serta
disiplin yang tinggi. Sangat mudah rasanya bekerja sama dengan
Paragita, mereka siap dengan segala bentuk aransemen musik serta
situasi penampilan apapun. Sukses untuk PSM UI Paragita.&#34;</p>
                    <footer>
                        <ul class="buttons">
                            <li><a class="button small">Learn More</a></li>
                        </ul>
                    </footer>
                </section>

            </div>
            <div class="4u 12u(narrower)">

                <section>
                    <header>
                        <h3>Rama Widi, Harpist</h3>
                    </header>
                    <p>&#34;Sebelum bekerjasama pada tahun 2010 untuk mendukung saya
dalam konser 'Rama Widi and Twilite Orchestra' di Aula Simfonia Jakarta,
jujur saya sudah 'mengincar' sejak bertemu dengan anak-anak
Paragita di Vienna. Saya melihat sebuah keseimbangan sempurna
dalam paduan suara mahasiswa ini oleh karena semua anggota yang
tergabung mempunyai dedikasi yang tinggi dalam bermusik yang
membuahkan banyak prestasi yang dapat disandingkan dengan
paduan suara profesional TANPA melupakan kuliah. Semoga Paragita
semakin suksesdan dapat menjadi contoh bagi paduan suara
mahasiswa lainnya.&#34;</p>
                    <footer>
                        <ul class="buttons">
                            <li><a class="button small">Learn More</a></li>
                        </ul>
                    </footer>
                </section>

            </div>
            <div class="4u 12u(narrower)">

                <section>
                    <header>
                        <h3>Nicholas Fink - Choir Director Schleswig-Holstein Musik Festival</h3>
                    </header>
                    <p>&#34;I was impressed with the vocal and musical abilities of the choir as
they mastered the extremely demanding German repertoire, including
works by Arnold Schonberg and Johannes Brahms. I am confident they
would be a worthy representative of Indonesian choral culture.&#34;</p>
                    <footer>
                        <ul class="buttons">
                            <li><a class="button small">Learn More</a></li>
                        </ul>
                    </footer>
                </section>

            </div>
        </div>
    </section>