---
layout: default
---
<!-- Main -->
<article id="main">

        <header class="special container">
            <span class="icon fa-mobile"></span>
            <h2>Hubungi <strong>kami</strong></h2>
            <p>Untuk keperluan-keperluan Anda.</p>
        </header>

        <!-- One -->
            <section class="wrapper style4 special container 75%">

                <!-- Content -->
                    <div class="content">
                        <section>                            
                            <header>
                                <h3>Informasi tentang kontak kami</h3>
                            </header>
                            


{{ content }}
                        </section>
                    </div>

            </section>

       {% include comments.html %}


    </article>